<twig:bs:card style="width: 18rem;"
    header="Featured">
    <twig:block name="body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </twig:block>
</twig:bs:card>