{% apply spaceless %}
    <div{{ attributes }}>
        {% block img_top %}
            {% if image is not empty and image.position == 'top' %}
                {{ component('bs:image', image | filter((v, k) => k != 'position')) }}
            {% endif %}
        {% endblock %}
        {% block body %}
            <div class="card-body">{% block content %}{% endblock %}</div>
        {% endblock %}
    </div>
{% endapply %}
